<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}
{% block script %}
<style>
    #hero-slider .slide {
      background-size: cover;
      background-position: center;
    }
</style>
{% endblock script %}
{% block main %}
    <div class="container-main">
        <div class="container-justifyMonitor">
            <div style="width: 100%; height:50px;">

            </div>
            <div class="wrap_tate" style="position:relative">
                    <!-- Fluffyのロゴ -->
                    <a href="{% url 'home' %}">
                        <!-- caption-logo-title変えると画像の大きさ変わる -->
                        <img src="/static/images/home/company_logo.png" class="caption-logo-title" alt="titleLogo">
                    </a>
                    <div class="main-description margin-top-50">
                
                        <h1 style="color:#696969; font-size: 50px;" class="coolfont">
                            世界にたった１つの<br>
                            文字パネルを制作
                        </h1>
                        <h3 style="color:#888686; font-size: 25px;" class="coolfont">
                            ♡ぜひ推し活のお手伝いをお任せください♡
                        </h3>
                        <div class="Button-wrapper" style="text-align: center;">
                            <button class="Button margin-top-20" onclick="location.href='#jumpToAbout'">詳しくはこちら</button>
                        </div>
                    </div>
                    <!-- 背景のボード -->
                    <div class="position_center">
                        <img src="/static/images/home/board_home.png" class="responsive-image" alt="boardMain" style="z-index: -1;">
                    </div>

            </div>


            <div class="wrap_tate margin-top-70">
                <div class="wrap_yoko_centering margin-top-50">
                    <div class="wrap_yoko container-between">
                        <a href="{% url 'fullorder' %}" class="cute-button coolfont" style="font-weight: bold; margin:5px;">フルオーダー受付はこちら</a>
                        <a href="{% url 'signin' %}" class="cute-button coolfont" style="font-weight: bold; margin:5px;">セミオーダー受付はこちら</a>
                    </div>
                    
                </div>
                

            </div>

            <!-- <form method="POST" action="{% url 'fullorder' %}" >
                {% csrf_token %}
                <div class="Button-wrapper">
                    <button class="Button">Deploy</button>
                </div>
            </form> -->
            <!-- 背景で横に流れる画像 -->
            <div class="loopSlide margin-top-70">
                <img src="{% static 'images/home/slide-anime/カメラロール.png' %}">
                <img src="{% static 'images/home/slide-anime/カメラロール.png' %}">
            </div>            
        </div>

        <div class="container-sub bg_about" id="jumpToAbout">
            <div class="padding-20">
                <div class="main-description inner">
                    <div style="width:100%; text-align: center;">
                    <img src="/static/images/home/About.png" class="margin-top-100" style="height:100px; width: auto;">
                    <!-- <h2 class="fuchidori_shiro margin-top-100" style="text-align: center;">
                        About
                    </h2> -->
                    </div>
                    <h3 class="coolfont margin-top-20" style="color:#696969; font-weight: bolder;text-align: center;">
                        ぷちぇ屋さんFluffyとは
                    </h3>
                    <h4 class="jkfont" style="color:#696969; text-align: center;">
                        <br>誰とも被らない世界にたった一つの文字パネルを制作致します👀💓<br><br>
                    

                        安い！早い！可愛い！目立つ！キレイ！<br>
                        コスパ最強のうちわ屋さんです✨<br><br><br><br>
                    </h4>

                    <h5 class="jkfont" style="color:#696969; ">
                        <span style="text-align: left; display: block;">  
                        <span style="font-weight: bold;">❶ とにかく安い‼︎<br><br></span>
                    
                        &nbsp;&nbsp;✔️ 自分だけのオリジナルデザインを注文したい方向けのフルオーダー<br>
                        &nbsp;&nbsp;✔️ 既製デザインに一部カスタムを注文したい方向けのセミオーダー<br><br><br>
                      
                        <span style="font-weight: bold;">❷ 最短即日発送‼︎<br><br></span>
                    
                        &nbsp;&nbsp;✔️ 使用日に合わせて対応可能◎<br><br><br>
                     
                        <span style="font-weight: bold;">❸ デザイン特化<br><br></span>
                  
                        &nbsp;&nbsp;✔️ お客様のご要望をより多く取り入れ<br>
                        &nbsp;&nbsp;✔️ 理想通りのオリジナルのパネルを仕上げます<br>
                        &nbsp;&nbsp;✔️ イメージをお伝え頂ければこちらからデザインの提案も可能です<br><br><br>
                     
                        <span style="font-weight: bold;">❹ オーダーの多様性<br><br></span>
                 
                        &nbsp;&nbsp;✔️使用用途に合わせて加工対応◎<br><br><br>
           
                        <span style="font-weight: bold;">❺ 制作<br><br></span>
                  
                        &nbsp;&nbsp;✔️ プロ用のカッティングマシンを使用<br>
                        &nbsp;&nbsp;✔️ 特殊加工による裏技でほぼ気泡0<br>
                        &nbsp;&nbsp;✔️ 当店限定のオリジナル補強パネルの導入<br>
                        </span>
                    </h5>
                    
                </div>
                <a href="#" class="coolfont margin-top-100" style="font-weight: bold; display: flex; justify-content: center;">【 初めての方へ 】</a>
            </div>
            
        </div>
        
        <!-- ログインフォーム -->
        <h2 class="fuchidori_shiro margin-top-100" style="text-align: center;">Login</h2>
        <form method="POST" action="{% url 'login' %}" >
            {% csrf_token %}
            <div style="display: flex; justify-content: center;" class="margin-top-50">
                <div class="wrap_yoko">
                    <div class="wrap_tate right_alignment">
                        <label for="username" class="fuchidori_shiro child_title_size">ユーザーID：</label>
                        <label for="password" class="fuchidori_shiro child_title_size margin-top-20">パスワード：</label>
                    </div>
                    <div class="wrap_tate">
                        <input type="text" id="username" name="username" value="">
                        <input type="password" id="password" class="margin-top-20" name="password" value="">
                    </div>

                </div>
                
            </div>
            <div class="margin-top-50 wrap_center">
                <div class="wrap_tate_no_centering">
                    <a href="{% url 'signin' %}" class="cute-button" style="justify-content: center;">ログイン</a>
                    <a href="{% url 'signin' %}" class="cute-button margin-top-20" style="justify-content: center;">サインイン</a>
                </div>
            </div>

        </form>
    </div>
    <script src="{% static 'js/fluffy_button.js' %}"></script>
{% endblock main %}
