/* static/css/custom_all.css */

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/07NikumaruFont.ttf');
}

@font-face {
    font-family: 'CustomFont2';
    src: url('../fonts/MPLUS1p-Medium.ttf');
}

@font-face {
    font-family: 'CustomFont2-Black';
    src: url('../fonts/MPLUS1p-Black.ttf');
}

@font-face {
    font-family: 'CustomFont3';
    src: url('../fonts/JK-Maru-Gothic-M.otf');
}


/* 共通のスタイル */
.container {
    width: 100%;
    padding: 20px;
}


h1 {
    font-size: 4.166666666666667vw;
}

h2 {
    font-size: 3.125vw;
}

h3 {
    font-size: 1.3020833333333333vw;
}

h4 {
    font-size: 1.0416666666666667vw;
}

h5 {
    font-size: 0.9375vw;
    font-weight: 500 !important;
}

.hidden{
    display: none;
}

/* スマートフォン用のスタイル */
@media (max-width: 768px) {


    .changeTextOnPC {
        display: none;
    }

    .changeTextOnSmartPhone {
        display: block;
    }


}

/* パソコン用のスタイル */
@media (min-width: 769px) {

    .changeTextOnPC {
        display: block;
    }

    .changeTextOnSmartPhone {
        display: none;
    }

    .imagehover-container {
        position: relative;
        display: inline-block;
        overflow: hidden;
    }

    .imagehover-container img {
        transition: transform 0.3s ease;
    }

    .imagehover-container:hover img {
        transform: scale(1.05);
    }

}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Arial', sans-serif; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-image: url('/static/images/fullorder/bg/背景_作品1.png');
    /* background-color: #000000; */
    background-size: cover;
    font-family: 'CustomFont', 'Arial', sans-serif;
    font-weight: bold;
    line-height: 1;
    font-size: 0.8333333333333334vw;
    color: #3c3c3c;
    -webkit-font-smoothing: antialiased;
    /* -webkit-font-kerning: normal; */
    -webkit-text-size-adjust: 100%;
    padding-top: 2rem;
}

.page_title{
    width: 107.87486515641855vh;
}

.coolfont {
    font-family: 'CustomFont2';
}

.jkfont {
    font-family: 'CustomFont3';
}

label {
    margin-bottom: 1rem;
}

input[type="text"] {
    outline: none;
    /* padding: 5px; */
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px #FF6CC4;
    /* font-size: large; */
    font-family: 'Arial', sans-serif;

}

input[type="password"] {
    outline: none;
    /* padding: 5px; */
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px #FF6CC4;
    /* font-size: large; */
    font-family: 'Arial', sans-serif;

}

.box-white {
    background-color: #FFF3F7;
    border-radius: 20px;
    margin: 2%;
    padding: 2%;
}

.box-pink {
    background-color: #FFD9E7;
    border-radius: 30px;
    padding-top: 1%;
    width: 60%;
}

/* 180px, marginあり */
.box-width180 {
    width: 9.375vw;
    margin: 1.0416666666666667vw;
    /* padding: 0 5px 0 5px; */
}

/* 15px */
.box-width15 {
    width: 0.78125vw;
}


/* 24px */
.box-width24 {
    width: 1.25vw;
}

/* 30px */
.box-width30 {
    width: 1.5625vw;
}

/* 40px */
.box-width40{
    width: 2.0833333333333335vw;
}

/* 50px */
.box-width50 {
    width: 2.6041666666666668vw;
}

/* 60px */
.box-width60 {
    width: 3.125vw;
}

.box-width88 {
    width: 4.625vw;
}


/* 80px */
.box-width80{
    width: 4.166666666666667vw;
}

/* 100px */
.box-width100 {
    width: 5.208333333333333vw;
}

/* 120px */
.box-width120 {
    width: 6.25vw;
}

/* 150px */
.box-width150 { 
    width: 7.8125vw;
}

/* 200px */
.box-width200 { 
    width: 10.416666666666666vw;
}

/* 270px */
.box-width270 { 
    width: 14.0625vw;
}


/* 300px */
.box-width300 { 
    width: 15.625vw;
}

/* 350px */
.box-width350 { 
    width: 18.229166666666668vw;
}

/* 380px */
.box-width380 { 
    width: 19.791666666666668vw;
}
/* 400px */
.box-width400 {
    width: 20.833333333333332vw;
}

/* 500px */
.box-width500 {
    width: 26.041666666666668vw;
}

/* 600px */
.box-width600 {
    width: 31.25vw;
}

.box-width850 {
    width: 44.270833333333336vw;
}

/* 100px */
.box-height100 {
    height: 5.208333333333333vw;
}

/* 120px */
.box-height120 {
    height: 6.25vw;
}

.box-height420 {
    height: 21.875vw;
}

.box-height500 {
    height: 26.041666666666668vw;
}

.box-height550 {
    /* height: 59.331175836030205vh; */
    height: 28.645833333333332vw;
}

.box-height600 {
    height: 31.25vw;
}

.box-height650 {
    height: 33.854166666666664vw;
}

.box-height800 {
    height: 41.666666666666664vw;
}


.container-main {
    width: 100%;
}

.container-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-between {
    display: flex;
    justify-content: space-between;
}

.margin-top-200 {
    margin-top: 11.983223487118035vw;
}

.margin-top-150 {
    margin-top: 8.987417615338526vw;
}

.margin-top-130 {
    margin-top: 7.789095266626723vw;
}

.margin-top-100 {
    margin-top: 5.208333333333333vw;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-70 {
    margin-top: 3.6458333333333335vw;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-50 {
    margin-top: 2.6041666666666665vw;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 1.0416666666666667vw;
}

.margin-top-10 {
    margin-top: 0.5208333333333334vw;
}

.margin-top-2per {
    margin-top: 2%;
}

.padding-2 {
    padding: 2px;
}

.padding-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tag {
    display: inline-block;
    padding: 0.10416666666666667vw 0.4em;
    font-size: 0.833333vw;
    height: 50%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.3rem;
    align-items: center;
    font-family: CustomFont2;
}

.cute-button {
    background-color: #FF6CC4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #FF6CC4;
    cursor: pointer;
    text-decoration: none;
}

.cute-button:hover {
    background-color: white;
    color: #FF6CC4;
    border: 2px solid #FF6CC4;
    text-decoration: none;
}

a.cute-button {
    display: inline-block;
    background-color: #FF6CC4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #FF6CC4;
    cursor: pointer;
    text-decoration: none;
    width: 236px;
}

a.cute-button:hover {
    display: inline-block;
    background-color: white;
    color: #FF6CC4;
    border: 2px solid #FF6CC4;
    text-decoration: none;
}

.green-button {
    background-color: #00BA00;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #00BA00;
    cursor: pointer;
    text-decoration: none;
}

.green-button:hover {
    background-color: white;
    color: #00BA00;
}

.cute-input {
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px #FF6CC4;
    /* font-size: large; */
    font-family: 'Arial', sans-serif;
}


.title_size {
    font-size: x-large;
}

.child_title_size {
    font-size: large;
}



.fuchidori_pink {
    color: #FFF;
    text-shadow: 1px 1px 0 #EC59A2, -1px -1px 0 #EC59A2,
        -1px 1px 0 #EC59A2, 1px -1px 0 #EC59A2,
        0px 1px 0 #EC59A2, 0 -1px 0 #EC59A2,
        -1px 0 0 #EC59A2, 1px 0 0 #EC59A2;
}

.fuchidori_shiro {

    color: #EC59A2 !important;
    text-shadow: 2.5px 2.5px 0 #FFF, -2.5px -2.5px 0 #FFF,
        -2.5px 2.5px 0 #FFF, 2.5px -2.5px 0 #FFF,
        0px 2.5px 0 #FFF, 0 -2.5px 0 #FFF,
        -2.5px 0 0 #FFF, 2.5px 0 0 #FFF;
}


.wrap_yoko {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* margin: 0 0 5px 0; */
}

.wrap_yoko_centering {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin: 0 0 5px 0; */
}

.wrap_tate {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* margin: 0 0 5px 0; */
}

.wrap_center {
    display: flex;
    justify-content: center;
}

.wrap_tate_no_centering {
    display: flex;
    flex-flow: column;
    /* margin: 0 0 5px 0; */
}

.right_alignment {
    text-align: right;
}


.noneobj {
    display: none;
}


/* テスト、文字画像重ね */
/* .testColor{
    text-align: center;
    font-size: 14rem;
    background-image: url("/static/images/fullorder/materials/colors_unprocessed/a1黄.png");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
}

.testColor2{
    text-align: center;
    font-size: 14rem;
    background-image: url("/static/images/fullorder/materials/colors_unprocessed/a2桃.png");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
}

.testColor3{
    text-align: center;
    font-size: 14rem;
    background-image: url("/static/images/fullorder/materials/colors_unprocessed/a3紫.png");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
} */

.flexColumnFlexStart{
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}