/* static/css/custom_font.css */

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/JKG-M_3.ttf');
}

body{
    font-family: 'CustomFont', 'Arial', sans-serif;
    font-weight: bold;
    
}